@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;500;600;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');
html,
body {
    font-family: 'Lato', sans-serif;
}

.ubuntu-font {
    font-family: 'Ubuntu', sans-serif;
}

.lato-font {
    font-family: 'Lato', sans-serif;
}

.nunito-font {
    font-family: 'Nunito', sans-serif;
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.light4 {
    font-weight: 400;
}

.light3 {
    font-weight: 300;
}

.light2 {
    font-weight: 200;
}

.light1 {
    font-weight: 100;
}

.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f23 {
    font-size: 23px;
}

.redbg {
    background-color: #ee1c25;
}

.redcolor {
    color: #EE1C25;
}

.normal {
    text-transform: inherit;
}

.scroll {
    overflow-y: scroll
}

.page_title {
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    color: #3B3B3B;
}

.heading {
    font-family: 'Nunito', bold;
    font-size: 16px
}

.name_heading {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #3B3B3B;
    position: relative;
}

.searchForm {
    position: absolute;
    right: 113px;
    padding: 17px;
    margin-right: -50px;
    margin-top: -20px;
    /* background: #f1f3f4; */
    min-width: 500px;
    transition: all 0.3s;
}

.number_heading {
    /*font-family: 'Nunito', bold;*/
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #3B3B3B;
}

.comment_heading {
    font-family: 'Nunito', Light;
    font-size: 12px;
    color: #808080;
    font-weight: 400;
}

.v-application .v-list-item--active {
    color: #ee1c25 !important;
}

.v-application .grey--text.v-list-item--active,
.v-application .v-list-group--active .menu-text.grey--text {
    color: #ee1c25 !important;
}

.menu-text {
    /*font: normal normal 300 14px/16px Ubuntu;*/
    font-weight: normal;
    font-stretch: normal;
    font-variant: normal;
    font-size: 14px;
    line-height: 16px;
    /*font-family: Nunito;*/
    letter-spacing: 0px;
    text-align: left;
    /*color: #808080;*/
    opacity: 1;
}

.avatar-menu-item {
    text-align: left;
    /*font: normal normal normal 14px/19px Nunito;*/
    font-weight: normal;
    font-stretch: normal;
    font-variant: normal;
    font-size: 14px;
    line-height: 19px;
    /*font-family: Nunito;*/
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
    margin-left: 14px;
    /*margin-top: 14px;*/
    height: 19px;
    cursor: pointer;
}

.menu-avatar-pic {
    width: 64px;
    height: 64px;
}

.notif-type {
    height: 14px;
    text-align: left;
    /*font: normal normal normal 10px/14px Nunito;*/
    font-weight: normal;
    font-stretch: normal;
    font-variant: normal;
    font-size: 10px;
    line-height: 14px;
    /*font-family: Nunito;*/
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
    cursor: pointer;
}

.notif-content {
    /*height: 19px;*/
    text-align: left;
    /*font: normal normal bold 14px/19px Nunito;*/
    font-weight: normal;
    font-stretch: normal;
    font-variant: normal;
    font-size: 14px;
    line-height: 19px;
    /*font-family: Nunito;*/
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
    cursor: pointer;
}

.notif-time {
    /*height: 19px;*/
    text-align: left;
    /*font: normal normal normal 14px/19px Nunito;*/
    font-weight: normal;
    font-stretch: normal;
    font-variant: normal;
    font-size: 14px;
    line-height: 19px;
    /*font-family: Nunito;*/
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
    cursor: pointer;
}

.notif-mark {
    /*height: 19px;*/
    /*text-align: right;*/
    text-decoration: underline;
    /*font: normal normal normal 14px/19px Nunito;*/
    font-weight: normal;
    font-stretch: normal;
    font-variant: normal;
    font-size: 14px;
    line-height: 19px;
    /*font-family: Nunito;*/
    letter-spacing: 0px;
    color: #ee1c25;
    opacity: 1;
    cursor: pointer;
}

.calls_list h3 {
    font-family: 'Nunito', bold;
    font-size: 16px;
    color: #3B3B3B;
}

.date_time {
    font-family: 'Nunito', bold;
    font-size: 14px;
    color: #808080;
}

.icon_adjustment {
    display: inline-block;
    float: left;
    margin-top: -5px;
}

.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}

.billing_information .v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}

.billing_information .v-card {
    font-family: 'Nunito', sans-serif;
}

.membership_heading {
    font-weight: 700;
    font-size: 14x;
    color: #3B3B3B;
}

.membership_subheading {
    font-weight: 500;
    font-size: 12x;
    color: #3B3B3B;
}

.membership_price {
    color: #3B3B3B;
    font-size: 40px;
    display: inline-block;
    width: 100%;
    margin: 10px 0 0;
}

.currency_symbol {
    padding-left: 10px;
    font-size: 14px;
}

.redtext {
    font-size: 12x;
    color: #ee1c25;
}

.membership_details {
    font-size: 14px;
}

.red_button {
    background-color: #ee1c25;
}

.red_button_outline {
    border: 1px solid #ee1c25;
}

.page-title {
    text-align: left;
    /*font: normal normal bold 23px/28px Lato;*/
    /*font-weight: bold;*/
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
}

.breadcrumbs {
    /*font: normal normal bold 10px/12px Lato;*/
    /*font-weight: bold;*/
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
}

.font-Nunito {
    font-family: 'Nunito', bold;
}

.subheading {
    font-family: 'Nunito', bold;
    font-size: 16px;
    color: #3B3B3B;
    font-weight: bold;
}

.heading {
    /*font-family: 'lato', Bold;*/
    text-align: left;
    /*font: normal normal bold 24px/29px Lato;*/
    /* font-size: 24px; */
    line-height: 29px;
    font-weight: bold;
    font-family: Lato, !important;
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
}

.sub_heading {
    /*font-family: 'lato', Regular;*/
    font-size: 16px;
    line-height: 22px;
    font-family: Nunito, !important;
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
}

.stepper_active {
    text-align: left;
    /* font: normal normal medium 14px/16px Ubuntu; */
    font-weight: medium;
    font-size: 14px;
    line-height: 16px;
    font-family: Ubuntu, !important;
    letter-spacing: 0px;
    color: #ee1c25;
    opacity: 1;
}

.stepper_inactive {
    text-align: left;
    /* font: normal normal normal 14px/16px Ubuntu; */
    font-family: Ubuntu, !important;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #808080;
    opacity: 1;
}

.dashed_border {
    border: 1px dashed #ee1c25;
    opacity: 1;
}

.section_title {
    text-align: left;
    /* font: normal normal bold 16px/19px Lato; */
    font-family: Lato, !important;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
}

.section_sub_title {
    text-align: left;
    font-family: Nunito, !important;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #808080;
    opacity: 1;
}

.add_agent {
    /* text-align: left; */
    text-decoration: underline;
    font-family: Nunito, !important;
    font-weight: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #ee1c25;
    opacity: 1;
}

.agent_name {
    text-align: left;
    font-family: Nunito, !important;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #3B3B3B;
}

.agent_role {
    text-align: left;
    font-family: Nunito, !important;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #3B3B3B;
}

.agent_number {
    text-align: left;
    font-family: Nunito, !important;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #3B3B3B;
}

.skip_button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ee1c25;
    border-radius: 34px;
    opacity: 1;
}

.next_button {
    background: #ee1c25 0% 0% no-repeat padding-box;
    border-radius: 34px;
    opacity: 1;
}

.number_heading {
    font-size: 16px;
    color: #3B3B3B;
}

.comment_heading {
    /*font-family: 'lato', Regular;*/
    font-size: 12px;
    color: #808080;
}

.link_style {
    /*font-family: 'lato', Regular;*/
    font-size: 16px;
    color: #ee1c25;
}

.nunito-title {
    text-align: left;
    /*font: normal normal bold 16px/22px Nunito;*/
    /*font-weight: bold;*/
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
}


/*red letter square button*/

.red_letter_rnd_button {
    width: 140px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ee1c25;
    border-radius: 34px;
    opacity: 1;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: Nunito, !important;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #ee1c25;
    opacity: 1;
}


/*white letter square button*/

.white_letter_rnd_button {
    width: 140px;
    height: 39px;
    background: #ee1c25 0% 0% no-repeat padding-box;
    border-radius: 34px;
    opacity: 1;
}


/*red letter round button*/

.wlr_button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 34px;
    color: #FFFFFF !important;
    background-color: #ee1c25 !important;
    opacity: 1;
    width: 140px;
    height: 39px;
}


/*red letter round button*/

.rlr_button {
    background: #ee1c25 0% 0% no-repeat padding-box;
    border-radius: 34px;
    color: #ee1c25 !important;
    background-color: #FFFFFF !important;
    opacity: 1;
    width: 140px;
    height: 39px;
}

.page-title {
    text-align: left;
    /*font: normal normal bold 23px/28px Lato;*/
    /*font-weight: bold;*/
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
}

.breadcrumbs {
    /*font: normal normal bold 10px/12px Lato;*/
    /*font-weight: bold;*/
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
}

.link_style {
    /*font-family: 'lato', Regular;*/
    font-size: 16px;
    color: #ee1c25;
}

.nunito-title {
    text-align: left;
    /*font: normal normal bold 16px/22px Nunito;*/
    /*font-weight: bold;*/
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #3B3B3B;
    opacity: 1;
}

.v-expansion-panel-content.hide {
    display: none !important;
}

.bar-container {
    margin-right: 4px;
    width: 30px;
    height: 100px;
    display: inline-block;
}

.bar {
    background-color: #E0E0E0;
    width: 30px;
    transition: all 0.3s;
}

.answered {
    background-color: #13B9A8;
}

.missed {
    background-color: #FAB4B7
}

.bar-container {
    position: relative;
    cursor: default;
}

.bar-container li {
    list-style: none;
}

.over_el {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0 !important;
}

.bar-container .detail_over {
    background: #1d1d1d;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    min-width: 50px;
    max-width: 300px;
    transition: all 0.3s;
}

.bar-container {
    transition: all 0.3s;
}

.bar-container:hover {
    transition: all 0.3s;
}

.top_text {
    transition: all 0.3s;
}

.bar-container:hover .top_text {
    color: #333 !important;
}

.bar-container:hover .bar {
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: 0px 0px 4px #a1a1a1;
}

.notif-mark .v-icon.v-icon {
    text-decoration: none !important;
    color: #ee1c25;
}

.bar-container .detail_over:before {
    content: '';
    height: 3px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-color: #1d1d1d;
    position: absolute;
    top: -16px;
    left: 14px;
}

.radio_set {
    width: 100%;
    padding: 150px;
}

.radio_set .v-input--radio-group__input {
    display: flow-root;
}

.radio_border {
    color: #3B3B3B;
    font-size: 23px;
    border: 1px solid #B4B4B4;
    border-radius: 10px;
    opacity: 1;
    padding: 15px;
    width: 40%;
    float: left;
    margin-right: 40px;
}

.radio_border.v-item--active {
    border-color: #ee1c25;
}

.cursor {
    cursor: pointer;
}

.hideOnExpand {
    transition: all 0.5ms;
}

.v-expansion-panel-header--active .hideOnExpand {
    display: none;
    transition: all 0.5ms;
}

a {
    text-decoration: none;
}

h2.background {
    position: relative;
    z-index: 1;
}

h4.background::after {
    border-top: 1px solid #c8c8c8;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: 0;
}

h4.background span {
    background: #ffffff;
    padding: 0 15px 0 0;
    position: relative;
    z-index: 99;
}


/* .toggle_IVR .v-btn {
    box-shadow: 1px 3px 19px #9b9b9b !important;
    text-transform: inherit !important;
} */

.toggle_IVR .active {
    color: #fff !important;
    background-color: #ee1c25 !important;
    opacity: 1 !important;
}

.mytable .v-table tbody tr:not(:last-child) {
    border-bottom: none;
}

.toggle_IVR .v-btn {
    border-color: rgb(255 255 255 / 12%) !important;
}

.bulletpoints strong {
    font-weight: 500;
    padding-left: 8px;
    color: #3f3f3f;
}

.radio_classs {
    border: thin solid #b4b4b4;
    border-radius: 6px;
}

.radio_classs.planActive {
    border: thin solid #ee1c25;
}

.name-ico {
    background-color: #FFEDEE;
}